In [1]:
import os
import time
import zipfile
import pandas as pd

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 300)
pd.set_option('display.max_colwidth', None)

In [3]:
PATH = "../../data/tge/"

In [211]:
%%time
df_b_moc=pd.read_parquet(f'{PATH}b_moc.parquet')
df_g_moc=pd.read_parquet(f'{PATH}g_moc.parquet')
df_g_wiatr=pd.read_parquet(f'{PATH}g_wiatr.parquet')
df_i_net=pd.read_parquet(f'{PATH}i_net.parquet')
df_tge=pd.read_parquet(f'{PATH}tge.parquet')
df_w_kse=pd.read_parquet(f'{PATH}w_kse.parquet')
df_w_ubytki=pd.read_parquet(f'{PATH}w_ubytki.parquet')
df_w_wym=pd.read_parquet(f'{PATH}w_wym.parquet')
df_z_kse=pd.read_parquet(f'{PATH}z_kse.parquet')
df_weather=pd.read_parquet(f'{PATH}weather_ml.parquet')

CPU times: total: 1.91 s
Wall time: 810 ms

target: df_tge['fixing_1_kurs']

In [215]:
#df_weather[['year','month','day']].drop_duplicates().groupby(['year','month']).count()

In [220]:
df_tge

,date,czas,fixing_1_kurs,fixing_1_wolumen,fixing_2_kurs,fixing_2_wolumen,notowania_kurs,notowania_wolumen
0,2022-10-31,1,550.00,1529.9,580.08,343.6,0.0,0.0
1,2022-10-31,2,511.79,1785.3,504.51,529.5,0.0,0.0
2,2022-10-31,3,499.82,1864.9,495.80,410.2,0.0,0.0
3,2022-10-31,4,464.30,1931.1,483.15,378.0,0.0,0.0
4,2022-10-31,5,464.30,1882.3,501.09,409.5,0.0,0.0
...,...,...,...,...,...,...,...,...
29331,2019-06-28,20,236.23,2194.8,255.01,1247.4,0.0,0.0
29332,2019-06-28,21,239.31,2262.3,254.98,1288.8,0.0,0.0
29333,2019-06-28,22,239.31,2359.2,254.61,1237.0,0.0,0.0
29334,2019-06-28,23,229.00,1995.7,228.63,1383.6,0.0,0.0
29335,2019-06-28,24,201.12,1687.3,224.31,987.2,0.0,0.0

In [221]:
df_tge.query('date=="2022-01-05"')

,date,czas,fixing_1_kurs,fixing_1_wolumen,fixing_2_kurs,fixing_2_wolumen,notowania_kurs,notowania_wolumen
7178,2022-01-05,1,431.36,2278.7,449.55,1379.9,0.00,0.0
7179,2022-01-05,2,415.15,2605.7,424.29,1983.9,0.00,0.0
7180,2022-01-05,3,409.40,2609.5,415.48,2097.7,0.00,0.0
7181,2022-01-05,4,415.15,2650.7,406.11,2379.8,0.00,0.0
7182,2022-01-05,5,422.01,2666.1,407.80,2479.4,0.00,0.0
7183,2022-01-05,6,428.00,2607.3,409.80,2573.5,0.00,0.0
7184,2022-01-05,7,530.00,2788.5,443.17,2967.2,0.00,0.0
7185,2022-01-05,8,552.01,2679.5,506.23,2853.3,0.00,0.0
7186,2022-01-05,9,625.01,2857.3,625.02,2940.3,0.00,0.0
7187,2022-01-05,10,698.50,2759.9,727.65,2925.9,0.00,0.0
7188,2022-01-05,11,698.00,2481.5,799.55,2574.3,0.00,0.0
7189,2022-01-05,12,698.50,2640.8,810.14,2579.5,0.00,0.0
7190,2022-01-05,13,698.00,2765.0,801.71,2554.6,0.00,0.0
7191,2022-01-05,14,723.50,2885.6,816.43,2342.6,0.00,0.0
7192,2022-01-05,15,780.00,2757.6,900.01,2308.3,0.00,0.0
7193,2022-01-05,16,780.00,2581.9,824.69,1541.9,0.00,0.0
7194,2022-01-05,17,874.73,2914.8,932.52,1270.1,0.00,0.0
7195,2022-01-05,18,805.00,3052.8,874.11,1312.6,0.00,0.0
7196,2022-01-05,19,816.65,3019.8,885.04,1329.9,0.00,0.0
7197,2022-01-05,20,805.00,3004.0,907.95,1419.0,0.00,0.0
7198,2022-01-05,21,829.50,2608.1,884.23,1595.7,0.00,0.0
7199,2022-01-05,22,711.70,2356.0,725.04,1438.0,0.00,0.0
7200,2022-01-05,23,650.00,1947.8,684.60,1485.9,694.81,77.0
7201,2022-01-05,24,550.00,1902.7,569.40,1752.8,0.00,0.0

In [217]:
df_g_moc

,Doba,Data publikacji,Kod,Nazwa,Tryb pracy,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24
0,20220101,20220102122138,BEL 2-02,BeÂ³chatÃ³w B02,Generacja,"0,000","0,000","0,000","0,000","0,000","0,000","0,000","0,000","0,000","0,000","0,000","3,100","84,500","186,600","232,800","303,600","325,900","260,500","237,000","237,300","238,900","246,600","240,900","240,400"
1,20220101,20220102122138,BEL 2-03,BeÂ³chatÃ³w B03,Generacja,"199,400","200,500","205,700","208,900","199,700","199,600","200,100","201,700","196,500","199,000","198,800","224,100","320,700","330,000","331,400","332,700","331,700","329,700","330,700","331,500","332,700","340,600","334,900","320,800"
2,20220101,20220102122138,BEL 2-04,BeÂ³chatÃ³w B04,Generacja,"0,000","0,000","0,000","0,000","0,000","0,000","0,000","0,000","0,000","1,100","64,900","152,000","247,300","279,200","330,800","332,900","331,400","326,700","279,900","280,900","301,500","258,900","221,300","201,700"
3,20220101,20220102122138,BEL 2-05,BeÂ³chatÃ³w B05,Generacja,"200,700","201,500","206,800","209,700","201,200","200,700","201,400","203,700","198,100","200,700","200,700","237,600","326,500","332,500","333,900","332,700","331,700","331,200","332,000","331,900","333,700","342,000","334,800","45,100"
4,20220101,20220102122138,BEL 4-06,BeÂ³chatÃ³w B06,Generacja,"213,230","213,610","217,000","212,160","211,960","211,630","210,450","209,420","208,790","211,710","210,980","230,750","327,460","340,850","342,480","341,060","340,690","338,940","339,330","339,710","341,960","349,080","344,920","324,810"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
710,20221030,20221031125412,ZYD 1-01,ydowo H1,Pompowanie,"0,000","0,000","0,000","0,000","0,000","0,000","0,000","0,000","0,000","0,000","0,000","0,000","0,000","0,000","0,000","0,000","0,000","0,000","0,000","0,000","0,000","0,000","0,000","0,000"
711,20221030,20221031125412,ZYD 1-02,ydowo H2,Generacja,"0,000","0,000","0,000","0,000","0,000","0,000","0,000","0,000","0,000","0,000","0,000","0,000","0,000","0,000","0,000","0,000","0,000","40,110","54,310","54,310","24,130","0,000","0,000","0,000"
712,20221030,20221031125412,ZYD 1-02,ydowo H2,Pompowanie,"59,790","63,010","63,090","63,060","63,050","63,010","1,480","0,070","0,060","0,070","0,070","0,040","0,050","0,040","1,200","1,110","1,080","0,340","0,000","0,000","0,020","0,050","0,580","1,140"
713,20221030,20221031125412,ZYD 1-03,ydowo H3,Generacja,"0,000","0,000","0,000","0,000","0,000","0,000","0,000","0,000","0,000","0,000","0,000","0,000","0,000","0,000","0,000","0,000","0,000","0,000","0,000","0,000","0,000","0,000","0,000","0,000"
714,20221030,20221031125412,ZYD 1-03,ydowo H3,Pompowanie,"0,070","0,080","0,080","0,070","0,080","0,070","0,070","0,050","0,060","0,060","0,060","0,060","0,060","0,050","0,080","0,090","0,080","0,080","0,070","0,080","0,080","0,060","0,070","0,090"